<table style="border:solid 1px black;" align="center" cellpadding="5px" cellspacing="0">
<tr><td colspan="2" style="font-size:18px; font-weight:bold; text-align:center; background-color:#CCC;">Recordar contraseña</td></tr>
 <td style="font-weight:bold;">Usuario</td><td>%usuario%</td>
</tr>
<tr>
 <td style="font-weight:bold;">Enlace temporal:</td><td>%enlace%</td>
</tr>
</table>